@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao cadastro de Clientes</h1>
    <div>
        <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" asp-controller="Clientes" asp-action="Create">Cadastrar novo usuário</a>
        <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" asp-controller="Clientes" asp-action="Index">Listar usuários</a>
    </div>
</div>
